.turn {
    position: relative;
    margin: 0 auto;
    color: $clrWhite;
    font-family: space-gro;

        .img-env {
            position: relative;
            bottom: em(30px);
            max-width: 191px;
            // max-height: 150px;
        }

        .img-txt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .player-name {
                font-size: em(16px);
            }

            .time-left {
                font-size: em(56px);
            }
        }
    
}