.turn {
    position: relative;
    margin: 0 auto;
    color: $clrWhite;
    font-family: space-gro;
    text-align: center;
    bottom: em(30px);
    width: fit-content;

    .img-env {
        position: relative;
        max-width: 191px;
    }

    .img-txt {
        position: relative;
        bottom: em(110px);

        display: flex;
        flex-direction: column;

        .player-name {
            font-size: em(16px);
        }

        .time-left {
            font-size: em(56px);
        }
    }

}