.board-page {
    display: flex;
    flex-direction: column;

    .board-layout {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: 150px 1fr 150px;
        place-items: center;
        row-gap: em(30px);

        @media (max-width:800px) {

            .board-layout {
                position: relative;
                // display: flex;
                // flex-direction: column;

            }


            .board-options {
                grid-column: 1;
                display: flex;
            }

            .player1 {
                grid-row: 1;
                grid-column: 1;
            }

            .player2 {
                grid-row: 1;
                grid-column: 2;
            }
        }

        @media (min-width:800px) {
            .board-layout {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: grid;
                grid-template-columns: 150px 1fr 150px;
                place-items: center;
                row-gap: em(30px);

            }


            .board-options {
                grid-row: 1;
                grid-column: 1/3;
                justify-self: flex-end;
                display: flex;
                gap: em(285px);

            }


        }

        .board-options {

            .btn {
                font-family: space-gro !important;
                padding: 8px;
                background-color: $clrDarkPurple;
                color: $clrWhite;
                border-radius: em(32px);
                font-size: em(16px);
                font-weight: 400;
            }
        }

        .player1 {
            grid-row: 2;
            grid-column: 1;
        }

        .player2 {
            grid-row: 2;
            grid-column: 3;
        }


        .player-modal {
            position: relative;
            border-radius: em(7.5px);
            border: 2px solid black;
            box-shadow: 0px 8px 8px #000000;
            background-color: $clrWhite;
            padding: em(22px) em(10px);
            max-width: 151px;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: em(4px);

            img {
                position: absolute;
                top: em(-18px);
                max-width: 45px;
            }

            h4 {
                font-size: em(26px);
            }
        }

        .board {
            grid-row: 2;
            grid-column: 2;
            background-size: cover;
            background-repeat: no-repeat;
            max-width: 450px;
            max-height: 415px;
            background-image: url(../../imgs/board-layer-white-large.svg);
            padding: em(10px);

            @media (max-width: 800px) {
                grid-column: 1;
                grid-row: 2;
                background-image: url(../../imgs/board-layer-white-small.svg);
                max-width: 335px;
                max-height: 310px;
            }

            .img-game-logo {
                position: relative;
                bottom: em(90px);
                left: 40%;
                width: em(52px);
                height: em(52px);

            }

            .img-marker {
                position: relative;
                bottom: em(50px);
                left: 70%;
                width: em(32px);
                height: em(26px);
            }

            .row {
                position: relative;
                bottom: em(30px);
                gap: 12px;
                margin-left: em(2.5px);
                margin-bottom: em(11.5px);
            }

            .cell {
                border-radius: 50%;
                width: 51px;
                height: 51px;

                &.red {
                    background-color: red;
                }

                &.blue {
                    background-color: blue;
                }

                &.pink {
                    background-color: pink;
                }

                &.green {
                    background-color: green;
                }
                &.yellow {
                    background-color: yellow;
                }
            }
        }

        .app-footer {
            position: absolute;
            bottom: -125px;
            width: 100vw;
            background-color: $clrDarkPurple;
            height: em(200px);
            border-radius: em(60px) em(60px) 0px 0px;
            z-index: -1;
        }


    }

}

.red-disc {
    background-image: url('../../imgs/counter-red-large.svg');
}

.yellow-disc {
    background-image: url('../../imgs/counter-yellow-large.svg');
}

// .board-page {
//     margin-top: em(30px);
//     position: relative;
//     z-index: 10;

//     .board-options {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: em(180px);

//         .btn {
//             font-family: space-gro !important;
//             padding: 8px;
//             background-color: $clrDarkPurple;
//             color: $clrWhite;
//             border-radius: em(32px);
//             font-size: em(16px);
//             font-weight: 400;
//         }
//     }

//     .board-layout {
//         top: 50%;
//         left: 50%;
//         display: flex;
//         max-width: fit-content;
//         margin: 0 auto;


//         @media (max-width: 800px) {
//             display: grid;
//             grid-template-rows: 2;
//             grid-template-columns: 1;
//             max-width: 380px;
//             place-items: center;
//             margin-top: 40px;
//             // margin-top: em(0px);
//             row-gap: em(30px);

//             .player-modal {
//                 margin: 0px 0 0px 0px;

//             }

//             .player1 {
//                 grid-row: 1;
//                 grid-column: 1;
//                 justify-self: flex-start;
//             }

//             .player2 {
//                 justify-self: flex-end;
//                 grid-row: 1;
//                 grid-column: 1;
//             }
//         }


//         .player-modal {
//             position: relative;
//             border-radius: em(7.5px);
//             border: 2px solid black;
//             box-shadow: 0px 8px 8px #000000;
//             background-color: $clrWhite;
//             padding: em(22px) em(10px);
//             margin: 0 50px;
//             max-width: 151px;
//             align-self: center;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             gap: em(4px);

//             img {
//                 position: absolute;
//                 top: em(-18px);
//                 max-width: 45px;
//             }

//             h4 {
//                 font-size: em(26px);
//             }
//         }

//         .board {
//             background-size: cover;
//             background-repeat: no-repeat;
//             max-width: 450px;
//             max-height: 415px;
//             background-image: url(../../imgs/board-layer-white-large.svg);
//             padding: em(7px);

//             @media (max-width: 800px) {
//                 background-image: url(../../imgs/board-layer-white-small.svg);
//                 max-width: 335px;
//                 max-height: 310px;
//             }

//             .img-game-logo {
//                 position: relative;
//                 bottom: em(90px);
//                 left: 40%;
//                 width: em(52px);
//                 height: em(52px);

//             }

//             .img-marker {
//                 position: relative;
//                 bottom: em(50px);
//                 left: 70%;
//                 width: em(32px);
//                 height: em(26px);
//             }

//             .row {
//                 position: relative;
//                 bottom: em(49.5px);
//                 gap: 12px;
//                 margin-left: em(3px);
//                 margin-bottom: em(10.5px);
//                 // z-index: 10;
//             }

//             .cell {
//                 border-radius: 50%;
//                 width: 51px;
//                 height: 51px;

//                 &.red {
//                     background-color: red;
//                 }

//                 &.blue {
//                     background-color: blue;
//                 }

//                 &.pink {
//                     background-color: pink;
//                 }

//                 &.green {
//                     background-color: green;
//                 }
//             }
//         }
//     }
// }