.board-page {
    margin-top: em(30px);

    .board-options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: em(180px);
        // padding-inline: 40%;

        .btn {
            font-family: space-gro !important;
            padding: 8px;
            background-color: $clrDarkPurple;
            color: $clrWhite;
            border-radius: em(32px);
            font-size: em(16px);
            font-weight: 400;
        }
    }

    .board {
        margin: 0 auto;
        margin-top: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 450px;
        max-height: 415px;
        background-image: url(../../imgs/board-layer-white-large.svg);
        
        @media (max-width: 800px) {
            background-image: url(../../imgs/board-layer-white-small.svg);
            max-width: 335px;
            max-height: 310px;
        }

        .img-game-logo {
            position: relative;
            bottom: em(90px);
            left: 40%;
            width: em(52px);
            height: em(52px);

        }

        .img-marker {
            position: relative;
            bottom: em(50px);
            left: 70%;
            width: em(32px);
            height: em(26px);
        }

        .row {
            position: relative;
            bottom: em(45px);
            gap: 12px;
            margin-left: em(10px);
            margin-bottom: em(12px);
        }

        .cell {
            border-radius: 50%;
            width: 51px;
            height: 51px;

            &.red {
                background-color: red;
            }

            &.blue {
                background-color: blue;
            }

            &.pink {
                background-color: pink;
            }

            &.green {
                background-color: green;
            }
        }
    }
}

.red-disc {
    background-image: url('../../imgs/counter-red-large.svg');
}

.yellow-disc {
    background-image: url('../../imgs/counter-yellow-large.svg');
}