// Colors
$clrBlack: #000000;
$clrDarkPurple: #5C2DD5;
$clrPurple: #7945FF;
$clrPink: #FD6687;
$clrWhite: #ffffff;
$clrYellow: #FFCE67;


// LAYOUT
$layoutPadding: 16px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 960px;
$break-wide: 1300px;
$break-Extra-wide: 1700px;